<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356761232122-q5mid4b7pockn241fmthun0sk4rk9v3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356761232122-q5mid4b7pockn241fmthun0sk4rk9v3n</string>
	<key>API_KEY</key>
	<string>AIzaSyB-jTnaqDAj0UZM3QbchH4CAnFu3yOHjjo</string>
	<key>GCM_SENDER_ID</key>
	<string>356761232122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safar</string>
	<key>PROJECT_ID</key>
	<string>safar-249d3</string>
	<key>STORAGE_BUCKET</key>
	<string>safar-249d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356761232122:ios:1d1c2fccdfa959a676df43</string>
</dict>
</plist>